 body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/564x/b8/e7/3b/b8e73b0c1d8f1b8213f6742a83943302.jpg");
    background-attachment: fixed;
    background-size: cover;
}
header{
    height: 70px;
    background-image: url("https://i.pinimg.com/564x/55/c5/cf/55c5cfb5c0c14f647c39486a0ddf7655.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-position: 25px;
    background-size: 10000px;
}
.photo{
    height: 60px;
    border-radius: 100px;
    border: 1px solid rgba(173, 59, 144, 0.562);
}
.url{ 
    color: black;
}
.url:hover {
    color:rgb(43, 255, 0);
}
a:hover{
    color:rgb(236, 22, 208);
}
table{
    border: 3px double black;
    
}
th{
    border: 1px solid black;
}
tr:nth-child(odd){
     background-color: rgba(68, 187, 235, 0.692); 
}
tr:nth-child(even){
    background-color: #d0f11298; 
}
footer{
    height: 70px;
    background-image: url("https://i.pinimg.com/564x/55/c5/cf/55c5cfb5c0c14f647c39486a0ddf7655.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-position: 30px;
    background-size: 10000px;
}
.slider {
    position: relative;
    padding: 0px 20px;
}
.foto{
    width: 95%;
    height: 95%;
}
.slick-track {
    display: flex;
}
  
.slick-list {
    overflow: hidden;
}
  
.slick-arrow {
    position: absolute;
    top: 35%;
    margin: -10px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 10px;
    height: 30px;
}
  
.slick-arrow.slick-prev {
    left: 0;
    background: url('photo/left.png') 0 0 / 100% no-repeat;
    opacity: 0.5;
}
  
.slick-arrow.slick-next {
    right: 0;
    background: url('photo/right.png') 0 0 / 100% no-repeat;
    opacity: 0.5;
}
  
.slick-dots {
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
.slick-dots li {
   list-style: none;
    margin-right: 10px; 
}

.slick-dots button {
    font-size: 0;
    width: 5px;
    height: 5px;
    background-color: rgba(197, 35, 184, 0.267);
    border-radius: 50%;
}
  
.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
}

@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
    }
    .photo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    label{
        font-size: medium;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        margin: -30px 0px 0px 0px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 60px;
      }
      .slick-dots button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background-color: rgba(231, 35, 172, 0.349);
        border-radius: 50%;
      }
      .slider {
        position: relative;
        padding: 0px 60px;
      }
}
